<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>skills popularity</title>
  <!--Load the AJAX API-->

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script th:inline="javascript">
      /**
       *
       * @author Draz
       */
        google.charts.load('current', {'packages':['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawBasic);

        var records = [[${skillCount}]]
        function drawBasic() {
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Location');
            data.addColumn('number', 'vacancies');
            for(i = 0; i < records.length; i++)
              data.addRow([records[i][0], records[i][1]]);

          var options = {
            colors: ['#98AFC7'],
            title: 'The most Skills required by Recruiters',
            hAxis: {title: 'vacancies',minValue: 0},
            vAxis: {title: 'Skill'}};

            var chart = new google.visualization.BarChart(document.getElementById('barchart'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
<h1 align="center">Data visualization</h1>
<div id="barchart" style="width: 900px; height: 500px;"></div>
</body>
</html>